.chat-code{
    height: 48px;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #FB8B47;
    cursor: pointer;

    display: flex;

    div{
        padding: 0 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FB8B47;

        transition: all 0.5s;


        &:hover{
            filter: brightness(0.9);
        }

        >img{
            width: 24px;
            height: 24px;
        }
    }
    span{
        display: block;
        align-self: center;
        flex: 1;
        padding: 0 16px 0 12px;
        width: 230px;
        font-size: 13px;
        font-weight: 500;
      }

}